body {
    background-color: #222222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.container {
	margin: 50px auto;
	text-align: center;
    
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, minmax(300px, 1fr));
	grid-gap: 10px;
	margin-top: 50px;
}

.grid-item {
	text-align: center;
}

.grid-item img {
	max-width: 70%;
	height: auto;
    transition: transform 0.5s ease-in-out;
}

.grid-item img:hover {
    max-width: 50%;
    opacity: 0.7;
    transform: scale(1.1)
}

  
  .stock-image-container img {
    width: 100%;
    height: auto;
    
  }
  


